/*Para todos los elementos de la web se aplican estos atributos*/
* {
    box-sizing: border-box;
    padding: 0;
}

/* Damos fondo al body de la pagina y la eliminamos el margen superior */
body {
    background-image: url("../images/fond.jpg");
    margin-top: 0px;
}

/* Establecemos la letra de la cabecera, los bordes azules redondeados y el color de fondo */
header {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(233, 234, 248);
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 6px solid;
    border-color: rgb(2, 62, 122);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* margenes y ancho del contenedor de la cabecera */
.hcont {
    width: 100%;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 20px;
    display: inline-block;
}

/* style del div que contendra la imagen del logo */
.logo {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
}

/* establecemos que las imagenes ocupen todo el div en el que estan*/
img {
    width: 100%;
    height: 100%;
}

/* style del div que tendra el menu, ponemos float a la derecha para que
 este a la dereche de la pagina */
.hlinks {
    float: right;
    margin-top: 45px;
}

/* ponemos la fuente en negrita */
.opts {
    font-weight: bold;
}

/* este es el estilo de los separadores del menu horizontal, destacar el position
para que se centre con el texto del menu */
.opts div {
    display: inline-block;
    position: absolute;
    margin-bottom: 4px;
    width: 3px;
    height: 22.6px;
    background-color: black;
    border-radius: 40%;
}

/* diseño y separacion que tendra los links del menu, asi como su tamaño de fuente */
.opts a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    margin-left: 7px;
    margin-right: -3px;
}

/* hover para los links, para que cuando pongas el cursor encima se cambie el color
del fondo */
.opts a:hover {
    background-color: rgb(201, 201, 201);
    color: black;
}

/* estilo para la pagina de los links en la que estamos, para que tenga un diseño
diferente con un fondo azul */
.opts a.actual {
    background-color: rgb(2, 62, 122);
    color: white;
}

/*diseño contendor que contiene los contenedores derecho e izquierdo en los que se divide
la web, le damos un poco de margen para que no se pegue a los bordes de la pantalla */
.cont {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px auto;

}

.cont::after {
    content: "";
    clear: both;
    display: table;
}

/* le ponemos una altura para que se distinga que ahi hay un container */
.dcha {
    border: 5px solid;
    border-color: rgb(2, 62, 122);
    width: 66%;
    background-color: rgb(233, 234, 248);
    float: right;
    height: 50px;
}

/* diseño de la caja izquierda, aqui decimos que ocupara el 33% del div que lo contiene
y le damos el float a la izquierda, bordes y su ancho y un color de fondo */
.izda {
    border: 5px solid;
    border-color: rgb(2, 62, 122);
    width: 33%;
    background-color: rgb(233, 234, 248);
    float: left;
}

/* diseño del div que contiene la foto de perfil y el nombre del usuario, le damos margen
para separarlo del container y el display: inline que pone el contenido en linea respetando
los margenes */
.imgNam {
    width: 100%;
    margin-top: 10px;
    margin-left: 13px;
    display: inline-block;
    margin-right: 6px;
}

/* damos un pequeño borde a la imagen de perfil y las dimensiones que tendra el div
que contendra la imagen de perfil */
.profImg {
    border: 1px solid;
    border-color: rgb(2, 62, 122);
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 8px;
}

/* colocamos el nombre del usuario con los margenes deseados al lado de la foto y en negrita */
.name {
    font-weight: bold;
    margin-top: 41px;
    margin-left: 6px;
    margin-bottom: 0px;
}

.imgNam::after {
    content: "";
    clear: both;
    display: table;
}

/* damos las dimensiones al div que contendra todo lo relaciondo con la inf personal */
.desc {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    display: inline-block;
}

/* colocamos el titulo "informacion personal" en la posicion deseada */
.titInf {
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 8px;
}

/* establecemos el diseño que tendra el link de inf personal, sin decoracion (subrayado...)
y en color negro */
.titInf a {
    text-decoration: none;
    color: black;
}

/* damos el diseño al div que contendra los distintos campos sobre la inf personal */
.inf {
    margin-left: 22px;
    margin-top: 8px;
}

/* quitamos los puntos a la lista y ajustamos los margenes */
ul {
    list-style-type: none;
    -webkit-padding-start: 15px;
    -webkit-margin-end: 10px;
}

/* damos diseño al div que separa los distintos campos del container izquierdo, es un div
relleno de negro al que le damos una altura y le redondamos los bordes al maximo */
.sep {
    height: 4px;
    width: 85%;
    background-color: black;
    margin-left: 7.5%;
    margin-top: 8px;
    border-radius: 100%;
}

/* diseño del container que incluira las ultimas opiniones y su titulo */
.lastOp {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    display: inline-block;
}

/* Establecemos que todo lo de dentro del container con clase lastOp tenga un margen
derecho de 8px */
.lastOp * {
    margin-right: 8px;
}

/* Diseño del titulo "Últimas opiniones" */
.lastOp h4 {
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 0px;
}

/* Quitamos la decoracion del link ultimas opiniones y le damos color */
.lastOp h4 a {
    text-decoration: none;
    color: black;
}

/* Establecemos un diseño al div que contendra las 3 ultimas opiniones */
.opis {
    margin-left: 22px;
    margin-top: 8px;
}

/* diseño del texto de cada opinión, su tamaño de fuente, justificado y los margenes */
.opis dd {
    font-size: 14px;
    text-align: justify;
    -webkit-margin-start: 20px;
    -webkit-margin-end: 8px;
}

/* diseño del container que englobara todo lo de preferencias, reducimos el ancho para
que asi el icono de + que se pondra para añadir preferencias no quede a la derecha del todo */
.prefs {
    height: 100%;
    width: 93%;
    display: inline-block;
}

/* diseño del div que contendra el titulo Mis preferencias y el simbolo de añadir */
.titPref {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    display: inline-block;
}

/* editamos los margenes del titulo Mis Preferencias */
.titPref h4 {
    margin-top: 15px;
    margin-bottom: 0px;
}

/* Margen izquierdo para el titulo y ponemos que este a la izquierda del container */
.tit {
    margin-left: 8px;
    float: left;
}

/* ponemos el simbolo de añadir preferencias a la derecha del titulo */
.add {
    float: right;
}

/* le damos el 100% del ancho al div que contendra las distintas preferencias
elegidas por el usuario */
.prefsCh {
    width: 100%;
    display: inline-block;
    margin-left: 10px;
}

/* ponemos las preferencias a la izquierda para que pueda haber mas de una en la misma
fila, tambien les ponemos un fondo y borde */
.prefsCh div {
    float: left;
    margin: 13px;
    padding: 4px;
    border: 1px solid;
    border-color: rgb(2, 62, 122);
    background-color: rgba(91, 129, 167, 0.651);
}

/* ponemos la cruz de quitar preferencias en negro y en negrita */
.prefs a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* establecemos que cuando se pase el raton por encima de alguna cruz se vea un
fondo grisaceo redondeado */
.prefs a:hover {
    background-color: rgb(201, 201, 201);
    color: black;
    border-radius: 100%;
}

/* Seccion de la web orientada al pie de la pagina, dondole borde (menos abajo) y curvandolo en las esquinas superiores 
dandole el color ya usado en el resto de la web*/
footer {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 6px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: rgb(2, 62, 122);
    background-color: rgb(233, 234, 248);
}

/* Este es el div que ocupará todo el footer y contendrá el resto de elementos 
en una disposición determinada */
.footCont {
    width: 100%;
    display: inline-block;
}

/* De nuevo otro div que contendrá los enlaces de los elementos sociales de la pagina 
y el copyright de esta, y que en si flotará a la derecha */
.social-cp {
    margin-right: 5px;
    float: right;
    margin-top: 3px;
    margin-bottom: -3px;
}

/* Todos los contenedores deben seguir la misma disposición */
.social-cp div {
    display: inline-block;
}

/* Tamaño fijo para las imagenes de los links */
.logoF {
    height: 25px;
    width: 25px;
}

/* Tamaño y color para las separaciones de los links del footer */
.VSep {
    background-color: black;
    width: 3px;
    height: 22.6px;
    border-radius: 40%;
}
